div {
  display: grid;
  grid-template-rows: 1fr 400px;
  grid-gap: 10px;
}

table {
  width: 100%;
  border: 3px solid var(--second-theme-color);
}

tr {
  height: 50px;
}

td {
  padding: 0 10px;
  vertical-align: middle;
}

td:nth-child(2),
td:nth-child(3) {
  text-transform: capitalize;
}

td:last-child {
  text-align: right;
}

td:last-child button {
  margin-left: 10px;
}

thead {
  background-color: var(--second-theme-color);
}

thead td {
  color: var(--ground-color);
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

tbody tr {
  border-bottom: 1px solid var(--second-theme-color);
}

form {
  margin: 10px 0;
}

form button {
  margin-right: 10px;
}

fieldset {
  margin: 5px;
}

label {
  width: 150px;
  display: inline-block;
}

input,
select {
  width: 400px;
}
