<ng-container>
  <header>
    <h1>
      <a routerLink="/">
        <img
          src="../assets/ordina-logo-orange-300px.png"
          alt="ordina-logo-orange-300px"
        />
        <span>{{ title }}</span>
      </a>
    </h1>
    <nav>
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="properties"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >properties</a
          >
        </li>
        <li class="profile">
          <a
            routerLink="profile"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Hi, ...</a
          >
        </li>
      </ul>
    </nav>
    <button>
      Login
    </button>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>&copy; OpenID connect & OAuth2.0 demo application | 2020</footer>
</ng-container>
