<ng-container
  *ngIf="{
    isAuthenticated: authService.isAuthenticated$ | async,
    user: authService.user$ | async
  } as data"
>
  <header>
    <h1>
      <a routerLink="/">
        <img
          src="../assets/ordina-logo-orange-300px.png"
          alt="ordina-logo-orange-300px"
        />
        <span>{{ title }}</span>
      </a>
    </h1>
    <nav>
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li>
          <a
            *ngIf="data.isAuthenticated"
            routerLink="properties"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >properties</a
          >
        </li>
        <li class="profile">
          <a
            *ngIf="data.isAuthenticated && data.user"
            routerLink="profile"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Hi, {{ data.user['given_name'] }}</a
          >
        </li>
      </ul>
    </nav>
    <button *ngIf="!data.isAuthenticated" (click)="authService.login()">
      Login
    </button>
    <button *ngIf="data.isAuthenticated" (click)="authService.logout()">
      Logout
    </button>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>&copy; OpenID connect & OAuth2.0 demo application | 2020</footer>
</ng-container>
