/* You can add global styles to this file, and also import other style files */

@import './reset.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --ground-color: #fff;
  --font-color: #1f2831;
  --main-theme-color: #e88508;
  --second-theme-color: #635f5a;

  background: var(--ground-color);
  font-family: 'Open Sans', sans-serif;
  color: var(--font-color);
}

section {
  margin: 20px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 16px;
  color: var(--second-theme-color);
  display: block;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 3px solid var(--main-theme-color);
}

h3 {
  font-weight: 12px;
}

h1,
h2,
h3 {
  font-weight: bold;
}

a {
  cursor: pointer;
}

button {
  border: none;
  background: var(--main-theme-color);
  color: var(--ground-color);
  border-radius: 5px;
  min-width: 90px;
  height: 30px;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.4s;
}

button:hover {
  transform: scale(0.95);
}

h2,
button {
  text-transform: uppercase;
  letter-spacing: 2px;
}
